.container {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: var(--wb-ds-space-150) var(--wb-ds-space-200) var(--wb-ds-space-150) 16px;
  border-radius: 8px;
  border: 1px solid var(--wb-ds-ui-bg-elevated);
  background: var(--wb-ds-ui-bg-elevated);
  transition: all var(--wb-public-transition);

  &:hover {
    border-color: var(--wb-ds-ui-stroke-highlight);

    .actions {
      opacity: 1;
    }
  }
}

.line {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  margin-left: auto;
  opacity: 0;
  transition: all var(--wb-public-transition);
}

.description {
  margin: 0;
  color: var(--wb-ds-ui-text-muted-default);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &:empty {
    display: none;
  }
}
