:root {
  --wb-variable-bg: var(--wb-color-violet-400-20);
  --wb-variable-txt: #6b3bff;
}

.container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.name {
  max-width: 200px;
  min-height: 1.75rem;
  line-height: 1.3125rem;
  display: inline-flex;
  font-family: 'Courier New';
  border-radius: 4px;
  padding: 4px 8px 3px 8px;
  color: var(--ax-txt-primary-default);
  background: var(--wb-variable-bg);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
