---
interface Badge {
  variant: string;
  text: string;
  class?: string;
}

interface SidebarLink {
  type: 'link';
  label: string;
  href: string;
  isCurrent: boolean;
  badge: Badge | undefined;
  attrs: Record<string, string>;
}

interface SidebarGroup {
  type: 'group';
  label: string;
  entries: SidebarEntry[];
  collapsed: boolean;
  badge: Badge | undefined;
}

type SidebarEntry = SidebarLink | SidebarGroup;

interface Props {
  sublist: SidebarEntry[];
  nested?: boolean;
}

import LockIcon from './lock-icon.astro';

const { sublist, nested } = Astro.props;

const ENTERPRISE_BADGE = 'Enterprise';

function flattenSidebar(entries: SidebarEntry[]): SidebarLink[] {
  return entries.flatMap((entry) => (entry.type === 'link' ? [entry] : flattenSidebar(entry.entries)));
}
---

<ul class:list={{ 'top-level': !nested }}>
  {
    sublist.map((entry) => (
      <li>
        {entry.type === 'link' ? (
          <a
            href={entry.href}
            aria-current={entry.isCurrent ? 'page' : undefined}
            class:list={[{ large: !nested }, entry.attrs.class]}
            {...entry.attrs}
          >
            {entry.badge?.text === ENTERPRISE_BADGE && <LockIcon />}
            <span>{entry.label}</span>
          </a>
        ) : (
          <details open={flattenSidebar(entry.entries).some((item) => item.isCurrent) || !entry.collapsed}>
            <summary>
              <span class="group-label">
                <span class="large">{entry.label}</span>
              </span>
              <svg
                class="caret"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                width="20"
                height="20"
                aria-hidden="true"
              >
                <path d="M9.29 6.71a1 1 0 0 0 0 1.42L13.17 12l-3.88 3.88a1 1 0 1 0 1.42 1.42l4.59-4.59a1 1 0 0 0 0-1.42L10.71 6.71a1 1 0 0 0-1.42 0Z" />
              </svg>
            </summary>
            <Astro.self sublist={entry.entries} nested />
          </details>
        )}
      </li>
    ))
  }
</ul>

<style>
  @layer starlight.core {
    ul {
      --sl-sidebar-item-padding-inline: 0.5rem;
      list-style: none;
      padding: 0;
    }

    li {
      overflow-wrap: anywhere;
    }

    ul ul li {
      margin-inline-start: var(--sl-sidebar-item-padding-inline);
      border-inline-start: 1px solid var(--sl-color-hairline-light);
      padding-inline-start: var(--sl-sidebar-item-padding-inline);
    }

    .large {
      font-size: var(--sl-text-lg);
      font-weight: 600;
      color: var(--sl-color-white);
    }

    .top-level > li + li {
      margin-top: 0.75rem;
    }

    summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2em var(--sl-sidebar-item-padding-inline);
      line-height: 1.4;
      cursor: pointer;
      user-select: none;
    }
    summary::marker,
    summary::-webkit-details-marker {
      display: none;
    }

    .caret {
      transition: transform 0.2s ease-in-out;
      flex-shrink: 0;
    }
    :global([dir='rtl']) .caret {
      transform: rotateZ(180deg);
    }
    [open] > summary .caret {
      transform: rotateZ(90deg);
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      border-radius: 0.25rem;
      text-decoration: none;
      color: var(--sl-color-gray-2);
      padding: 0.3em var(--sl-sidebar-item-padding-inline);
      line-height: 1.4;
    }

    a:hover,
    a:focus {
      color: var(--sl-color-white);
    }

    [aria-current='page'],
    [aria-current='page']:hover,
    [aria-current='page']:focus {
      font-weight: 600;
      color: var(--sl-color-text-invert);
      background-color: var(--sl-color-text-accent);
    }

    a > *:not(:last-child),
    .group-label > *:not(:last-child) {
      margin-inline-end: 0.25em;
    }

    @media (min-width: 50rem) {
      .top-level > li + li {
        margin-top: 0.5rem;
      }
      .large {
        font-size: var(--sl-text-base);
      }
      a {
        font-size: var(--sl-text-sm);
      }
    }
  }
</style>
