---
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import SidebarSublist from './sidebar-sublist.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<SidebarPersister>
  <SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>
