:root {
  --wb-public-segment-picker-border-radius-extra-large: var(--wb-radius-150);
  --wb-public-segment-picker-border-radius-large: var(--wb-radius-150);
  --wb-public-segment-picker-border-radius-medium: var(--wb-radius-125);
  --wb-public-segment-picker-border-radius-small: var(--wb-radius-100);
  --wb-public-segment-picker-border-radius-extra-small: var(--wb-radius-100);
  --wb-public-segment-picker-border-radius-xx-small: var(--wb-radius-100);
  --wb-public-segment-picker-border-radius-xxx-small: var(--wb-radius-100);
}

@layer ui.component {
  .extra-large {
    border-radius: var(--wb-public-segment-picker-border-radius-extra-large);
  }

  .large {
    border-radius: var(--wb-public-segment-picker-border-radius-large);
  }

  .medium {
    border-radius: var(--wb-public-segment-picker-border-radius-medium);
  }

  .small {
    border-radius: var(--wb-public-segment-picker-border-radius-small);
  }

  .extra-small {
    border-radius: var(--wb-public-segment-picker-border-radius-extra-small);
  }

  .xx-small {
    border-radius: var(--wb-public-segment-picker-border-radius-xx-small);
  }

  .xxx-small {
    border-radius: var(--wb-public-segment-picker-border-radius-xxx-small);
  }
}
