:root {
  --wb-public-segment-picker-gap: var(--wb-ds-space-50);
  --wb-public-segment-picker-padding: var(--wb-ds-space-50);
  --wb-public-segment-picker-background-color: var(--wb-ds-ui-bg-inset);
  --wb-public-segment-picker-circle-border-radius: var(--wb-ds-radius-full);
}

@layer ui.component {
  .container {
    display: flex;
    gap: var(--wb-public-segment-picker-gap);
    padding: var(--wb-public-segment-picker-padding);

    background-color: var(--wb-public-segment-picker-background-color);

    &.circle {
      border-radius: var(--wb-public-segment-picker-circle-border-radius);
      width: fit-content;
    }

    &:not(.circle) {
      width: 100%;
    }
  }
}
