:root {
  --ax-public-snackbar-border-size: var(--wb-size-12);
  --ax-public-snackbar-padding: var(--wb-space-200) var(--wb-space-200);
  --ax-public-snackbar-border-radius: var(--wb-radius-100);
  --ax-public-snackbar-content-gap: var(--wb-space-150);

  --ax-public-snackbar-width: 31.25rem;
  --ax-public-snackbar-title-color: var(--wb-ui-text-default);
  --ax-public-snackbar-subtitle-color: var(--wb-ui-text-subtle-default);
  --ax-public-snackbar-close-icon-color: var(--wb-ui-text-muted-default);

  --ax-public-snackbar-default-border: var(--wb-components-snackbar-stroke-default);
  --ax-public-snackbar-default-background: var(--wb-ui-bg-base);
  --ax-public-snackbar-default-icon-color: var(--wb-ui-text-muted-default);

  --ax-public-snackbar-success-border: var(--wb-components-snackbar-stroke-success);
  --ax-public-snackbar-success-background: var(--wb-ui-bg-base);
  --ax-public-snackbar-success-icon-color: var(--wb-components-snackbar-stroke-success);

  --ax-public-snackbar-error-border: var(--wb-components-snackbar-stroke-critical);
  --ax-public-snackbar-error-background: var(--wb-ui-bg-base);
  --ax-public-snackbar-error-icon-color: var(--wb-components-snackbar-stroke-critical);

  --ax-public-snackbar-warning-border: var(--wb-components-snackbar-stroke-warning);
  --ax-public-snackbar-warning-background: var(--wb-ui-bg-base);
  --ax-public-snackbar-warning-icon-color: var(--wb-components-snackbar-stroke-warning);

  --ax-public-snackbar-info-border: var(--wb-components-snackbar-stroke-info);
  --ax-public-snackbar-info-background: var(--wb-ui-bg-base);
  --ax-public-snackbar-info-icon-color: var(--wb-components-snackbar-stroke-info);
}

@layer ui.component {
  .container {
    display: flex;
    width: calc(var(--ax-public-snackbar-width) + 2 * var(--wb-space-200) + 2 * var(--ax-public-snackbar-border-size));
    border: var(--ax-public-snackbar-border-size) solid var(--ax-public-snackbar-default-border);
    border-radius: var(--ax-public-snackbar-border-radius);
    background-color: var(--ax-public-snackbar-default-background);
    padding: var(--ax-public-snackbar-padding);

    .content {
      display: flex;
      gap: var(--ax-public-snackbar-content-gap);
      width: 100%;
      min-width: 0;
    }

    &.success {
      background-color: var(--ax-public-snackbar-success-background);
      background-image: linear-gradient(
        var(--wb-components-snackbar-bg-success),
        var(--wb-components-snackbar-bg-success)
      );
      border-color: var(--ax-public-snackbar-success-border);
    }

    &.error {
      background-color: var(--ax-public-snackbar-error-background);
      background-image: linear-gradient(
        var(--wb-components-snackbar-bg-critical),
        var(--wb-components-snackbar-bg-critical)
      );
      border-color: var(--ax-public-snackbar-error-border);
    }

    &.warning {
      background-color: var(--ax-public-snackbar-warning-background);
      background-image: linear-gradient(
        var(--wb-components-snackbar-bg-warning),
        var(--wb-components-snackbar-bg-warning)
      );
      border-color: var(--ax-public-snackbar-warning-border);
    }

    &.info {
      background-color: var(--ax-public-snackbar-info-background);
      background-image: linear-gradient(var(--wb-components-snackbar-bg-info), var(--wb-components-snackbar-bg-info));
      border-color: var(--ax-public-snackbar-info-border);
    }
  }
}
