:root {
  --wb-public-snackbar-border-size: var(--wb-ds-size-12);
  --wb-public-snackbar-padding: var(--wb-ds-space-200) var(--wb-ds-space-200);
  --wb-public-snackbar-border-radius: var(--wb-ds-radius-100);
  --wb-public-snackbar-content-gap: var(--wb-ds-space-150);

  --wb-public-snackbar-width: 31.25rem;
  --wb-public-snackbar-title-color: var(--wb-ds-ui-text-default);
  --wb-public-snackbar-subtitle-color: var(--wb-ds-ui-text-subtle-default);
  --wb-public-snackbar-close-icon-color: var(--wb-ds-ui-text-muted-default);

  --wb-public-snackbar-default-border: var(--wb-ds-components-snackbar-stroke-default);
  --wb-public-snackbar-default-background: var(--wb-ds-ui-bg-base);
  --wb-public-snackbar-default-icon-color: var(--wb-ds-ui-text-muted-default);

  --wb-public-snackbar-success-border: var(--wb-ds-components-snackbar-stroke-success);
  --wb-public-snackbar-success-background:
    linear-gradient(var(--wb-ds-components-snackbar-bg-success), var(--wb-ds-components-snackbar-bg-success)),
    var(--wb-ds-ui-bg-base);
  --wb-public-snackbar-success-icon-color: var(--wb-ds-components-snackbar-stroke-success);

  --wb-public-snackbar-error-border: var(--wb-ds-components-snackbar-stroke-critical);
  --wb-public-snackbar-error-background:
    linear-gradient(var(--wb-ds-components-snackbar-bg-critical), var(--wb-ds-components-snackbar-bg-critical)),
    var(--wb-ds-ui-bg-base);
  --wb-public-snackbar-error-icon-color: var(--wb-ds-components-snackbar-stroke-critical);

  --wb-public-snackbar-warning-border: var(--wb-ds-components-snackbar-stroke-warning);
  --wb-public-snackbar-warning-background:
    linear-gradient(var(--wb-ds-components-snackbar-bg-warning), var(--wb-ds-components-snackbar-bg-warning)),
    var(--wb-ds-ui-bg-base);
  --wb-public-snackbar-warning-icon-color: var(--wb-ds-ui-icon-warning-default);

  --wb-public-snackbar-info-border: var(--wb-ds-components-snackbar-stroke-info);
  --wb-public-snackbar-info-background:
    linear-gradient(var(--wb-ds-components-snackbar-bg-info), var(--wb-ds-components-snackbar-bg-info)),
    var(--wb-ds-ui-bg-base);
  --wb-public-snackbar-info-icon-color: var(--wb-ds-components-snackbar-stroke-info);
}

@layer ui.component {
  .container {
    display: flex;
    width: calc(
      var(--wb-public-snackbar-width) + 2 * var(--wb-ds-space-200) + 2 * var(--wb-public-snackbar-border-size)
    );
    border: var(--wb-public-snackbar-border-size) solid var(--wb-public-snackbar-default-border);
    border-radius: var(--wb-public-snackbar-border-radius);
    background: var(--wb-public-snackbar-default-background);
    padding: var(--wb-public-snackbar-padding);

    .content {
      display: flex;
      gap: var(--wb-public-snackbar-content-gap);
      width: 100%;
      min-width: 0;
    }

    &.success {
      background: var(--wb-public-snackbar-success-background);
      border-color: var(--wb-public-snackbar-success-border);
    }

    &.error {
      background: var(--wb-public-snackbar-error-background);
      border-color: var(--wb-public-snackbar-error-border);
    }

    &.warning {
      background: var(--wb-public-snackbar-warning-background);
      border-color: var(--wb-public-snackbar-warning-border);
    }

    &.info {
      background: var(--wb-public-snackbar-info-background);
      border-color: var(--wb-public-snackbar-info-border);
    }
  }
}
