@layer ui.component {
  .container {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    overflow: hidden;

    .placeholder {
      opacity: 0.5;
    }

    span {
      width: 100%;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
