:root {
  --ax-public-number-field-color: var(--wb-ui-text-default);
  --ax-public-number-field-color-disabled: var(--wb-ui-text-ghost-default);
  --ax-public-number-field-placeholder-color: var(--wb-ui-text-ghost-default);
  --ax-public-number-field-root-background-color: var(--wb-ui-bg-base);
  --ax-public-number-field-root-background-color-disabled: var(--wb-ui-bg-fill-disabled);
  --ax-public-number-field-root-background-color-critical: var(--wb-components-text-field-bg-primary-critical);
  --ax-public-number-field-root-background-color-success: var(--wb-components-text-field-bg-primary-success);
  --ax-public-number-field-root-border-color: var(--wb-components-text-field-stroke-default);
  --ax-public-number-field-root-border-color-hover: var(--wb-ui-stroke-default);
  --ax-public-number-field-root-border-color-focus: var(--wb-components-text-field-stroke-focus);
  --ax-public-number-field-root-border-color-critical: var(--wb-components-text-field-stroke-critical);
  --ax-public-number-field-root-border-color-success: var(--wb-components-text-field-stroke-success);
  --ax-public-number-field-root-border-size: var(--wb-size-12);
  --ax-public-number-field-root-icon-color: var(--wb-ui-text-subtle-default);
  --ax-public-number-field-stepper-background-color: var(--wb-ui-bg-base);
  --ax-public-number-field-stepper-background-color-hover: var(--wb-ui-bg-fill-hover);
  --ax-public-number-field-stepper-background-color-active: var(--wb-ui-bg-fill-active);
  --ax-public-number-field-stepper-background-color-disabled: var(--wb-ui-bg-fill-disabled);
  --ax-public-number-field-stepper-border-color: var(--wb-ui-stroke-default);
}
