:root {
  --wb-settings-remove-bg: var(--ax-public-modal-header-background);
}

.description {
  margin-top: var(--ax-token-spacing-spacing-16);
  margin-bottom: var(--ax-token-spacing-spacing-20);
}

.list {
  display: flex;
  flex-flow: column;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--wb-settings-remove-bg);
  background: var(--wb-settings-remove-bg);
  color: var(--ax-txt-secondary-default);
  margin: 0;
  padding: var(--ax-token-spacing-spacing-12) var(--ax-token-spacing-spacing-16) var(--ax-token-spacing-spacing-12) 16px;

  li {
    margin: 0;
    padding: 0;
    margin-left: var(--ax-token-spacing-spacing-16);
  }
}

.content {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  overflow: auto;
  height: 100%;
}

.buttons {
  margin-top: auto;
  display: flex;
  padding-top: var(--ax-token-spacing-spacing-16);

  > :last-child {
    margin-left: auto;
  }
}
