:root {
  --wb-settings-remove-bg: var(--wb-public-modal-header-background);
}

.description {
  margin-top: var(--wb-space-200);
  margin-bottom: var(--wb-space-250);
}

.list {
  display: flex;
  flex-flow: column;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--wb-settings-remove-bg);
  background: var(--wb-settings-remove-bg);
  color: var(--wb-ui-text-subtle-default);
  margin: 0;
  padding: var(--wb-space-150) var(--wb-space-200) var(--wb-space-150) 16px;

  li {
    margin: 0;
    padding: 0;
    margin-left: var(--wb-space-200);
  }
}

.content {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  overflow: auto;
  height: 100%;
}

.buttons {
  margin-top: auto;
  display: flex;
  padding-top: var(--wb-space-200);

  > :last-child {
    margin-left: auto;
  }
}
