@layer ui.base, ui.component;

:root {
  --wb-public-form-label-color: var(--wb-ui-text-subtle-default);
  --wb-public-form-label-asterisk-color: var(--wb-ui-text-critical-default);
}

@layer ui.component {
  .container {
    display: flex;
    gap: 0.25rem;
    color: var(--wb-public-form-label-color);
    align-items: center;

    .label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    svg {
      width: 0.625rem;
      height: 0.625rem;
      min-width: 0.625rem;

      color: var(--wb-public-form-label-asterisk-color);
    }
  }

  .large {
    composes: ax-public-p10 from global;
  }

  .medium,
  .small {
    composes: ax-public-p11 from global;
  }
  .title {
    font-weight: 600;
  }
}
