:root {
  --wb-settings-navigation-background: var(--ax-public-modal-header-background);
}

.container {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  align-self: flex-start;
  text-align: left;
  gap: var(--wb-space-50);
  border-radius: var(--wb-radius-100);
  background: var(--wb-settings-navigation-background);
}

.button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--wb-components-nav-button-icon-primary-default);
  height: 2.25rem;
  padding: 0 var(--wb-space-200);

  /* Button/Button Medium */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: var(--wb-radius-100);
  background: transparent;
  border: none;
  transition: all var(--wb-transition);

  &:hover,
  &.button--active {
    background: var(--ax-public-nav-button-background-color-hover);
  }

  &.button--active {
    color: var(--wb-components-nav-button-icon-primary-pressed);
  }
}
