.extend-bounds {
  margin-left: -1rem;
  width: calc(100% + 1rem);

  & > * {
    padding-left: 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--wb-ds-space-100);
}

.footer-content:empty {
  display: none;
}
