:root {
  --wb-public-list-item-padding-large: var(--wb-space-137) var(--wb-space-100);
  --wb-public-list-item-padding-medium: var(--wb-space-125) var(--wb-space-100);
  --wb-public-list-item-padding-small: var(--wb-space-100) var(--wb-space-100);
  --wb-public-list-item-gap-small: var(--wb-space-150);
  --wb-public-list-item-gap-medium: var(--wb-space-150);
  --wb-public-list-item-gap-large: var(--wb-space-150);
}

@layer ui.component {
  .large {
    composes: wb-text-label-l from global;
    padding: var(--wb-public-list-item-padding-large);
    gap: var(--wb-public-list-item-gap-large);
  }

  .medium {
    composes: wb-text-label-m from global;
    padding: var(--wb-public-list-item-padding-medium);
    gap: var(--wb-public-list-item-gap-medium);
  }

  .small {
    composes: wb-text-label-m from global;
    padding: var(--wb-public-list-item-padding-small);
    gap: var(--wb-public-list-item-gap-small);
  }
}
