.row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;
  height: 2.5rem;
}

.container--select {
  position: relative;
  border-radius: var(--ax-public-input-border-radius-medium);

  > div > button {
    min-height: 2.5rem;
    text-align: left;
  }
}

.date-picker {
  border-radius: var(--ax-public-input-border-radius-medium);
  min-height: 2.5rem;
  text-align: left;
}

.date-with-reset-container {
  position: relative;
}

.adornment--select {
  position: absolute;
  top: 50%;
  right: calc(var(--wb-space-150) + 1rem + var(--wb-space-150));
  transform: translateY(-50%);
  z-index: 1;
}

.adornment--date {
  position: absolute;
  top: 50%;
  right: calc(var(--wb-space-150));
  transform: translateY(-50%);
  z-index: 1;
}
