.container {
  position: relative;

  &:has([class*='control--error']) {
    .adornment button {
      color: var(--ax-public-input-root-color-error);
    }
  }
}

.adornment {
  position: absolute;
  top: 50%;
  right: var(--ax-token-spacing-input-m-h-pad);
  transform: translateY(-50%);
  z-index: 1;
}

.control {
  height: 2.5625rem;
}
