:root {
  --ax-public-edge-color-disabled: var(--wb-canvas-edge-stroke-disabled);
  --ax-public-edge-color-select: var(--wb-canvas-edge-stroke-active);
  --ax-public-edge-color-hover: var(--wb-canvas-edge-stroke-hover);
  --ax-public-edge-color: var(--wb-canvas-edge-stroke-default);
  --ax-public-edge-stroke-width-select: 3;
  --ax-public-edge-stroke-width: 2;
}
