@import './switch-size.module.css';

:root {
  --wb-public-switch-outline-color: var(--wb-ui-stroke-subtle);
  --wb-public-switch-disabled-background-color: var(--wb-ui-bg-inset);
  --wb-public-switch-disabled-border-color: var(--wb-ui-stroke-subtle);
  --wb-public-track-no-selected-color: var(--wb-ui-bg-base);
  --wb-public-track-selected-color: var(--wb-components-selector-fill-checked);
  --wb-public-thumb-no-selected-color: var(--wb-ui-text-subtle-default);
  --wb-public-thumb-disabled-color: var(--wb-ui-icon-disabled);
  --wb-public-thumb-selected-color: var(--wb-ui-text-onaccent-default);

  --wb-public-switch-focus-border-color: var(--wb-shadow-ui-focus);
  --wb-public-switch-border-size: var(--wb-size-12);
}

@layer ui.base {
  .container {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: var(--wb-radius-full);
    border: var(--wb-public-switch-border-size) solid var(--wb-public-switch-outline-color);

    &:not(:hover) {
      transition: background-color var(--wb-public-transition);
    }

    .thumb {
      position: absolute;
      border-radius: var(--wb-radius-full);
      background-color: var(--wb-public-thumb-no-selected-color);
      transition: transform var(--wb-public-transition);
    }

    .track {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: var(--wb-radius-full);
    }

    .thumb-contents {
      display: contents;
    }

    &:focus-visible {
      outline: none;
      box-shadow: var(--wb-shadow-ui-focus-element-x) var(--wb-shadow-ui-focus-element-y)
        var(--wb-shadow-ui-focus-element-blur) var(--wb-shadow-ui-focus-element-spread)
        var(--wb-public-switch-focus-border-color);
    }

    &[data-checked] {
      .thumb {
        background-color: var(--wb-public-thumb-selected-color);
      }

      .track {
        background-color: var(--wb-public-track-selected-color);
      }
    }

    &[data-disabled] {
      cursor: auto;
      border-color: var(--wb-public-switch-disabled-border-color);

      .track {
        background-color: var(--wb-public-switch-disabled-background-color);
      }

      .thumb {
        background-color: var(--wb-public-thumb-disabled-color);
      }
    }
  }
}
