:root {
  --wb-public-switch-width-medium: 1.875rem;
  --wb-public-switch-height-medium: 1.25rem;
  --wb-public-switch-thumb-padding-medium: var(--wb-ds-size-37);

  --wb-public-switch-width-small: 1.75rem;
  --wb-public-switch-height-small: 1.125rem;
  --wb-public-switch-thumb-padding-small: var(--wb-ds-size-37);

  --wb-public-switch-width-extra-small: 1.625rem;
  --wb-public-switch-height-extra-small: var(--wb-ds-size-200);
  --wb-public-switch-thumb-padding-extra-small: var(--wb-ds-size-37);
}

@layer ui.base {
  .medium {
    --switch-thumb-size-medium: calc(
      var(--wb-public-switch-height-medium) - 2 * var(--wb-public-switch-thumb-padding-medium)
    );

    width: var(--wb-public-switch-width-medium);
    height: var(--wb-public-switch-height-medium);

    & .thumb {
      width: var(--switch-thumb-size-medium);
      height: var(--switch-thumb-size-medium);
      left: var(--wb-public-switch-thumb-padding-medium);
    }

    &[data-checked] {
      .thumb {
        transform: translateX(
          calc(
            var(--wb-public-switch-width-medium) - var(--switch-thumb-size-medium) - 2 *
              var(--wb-public-switch-thumb-padding-medium) - var(--wb-public-switch-border-size)
          )
        );
      }
    }
  }

  .small {
    --switch-thumb-size-small: calc(
      var(--wb-public-switch-height-small) - 2 * var(--wb-public-switch-thumb-padding-small)
    );

    width: var(--wb-public-switch-width-small);
    height: var(--wb-public-switch-height-small);

    .thumb {
      width: var(--switch-thumb-size-small);
      height: var(--switch-thumb-size-small);
      left: var(--wb-public-switch-thumb-padding-small);
    }

    &[data-checked] {
      .thumb {
        transform: translateX(
          calc(
            var(--wb-public-switch-width-small) - var(--switch-thumb-size-small) - 2 *
              var(--wb-public-switch-thumb-padding-small) - var(--wb-public-switch-border-size)
          )
        );
      }
    }
  }

  .extra-small {
    --switch-thumb-size-extra-small: calc(
      var(--wb-public-switch-height-extra-small) - 2 * var(--wb-public-switch-thumb-padding-extra-small)
    );

    width: var(--wb-public-switch-width-extra-small);
    height: var(--wb-public-switch-height-extra-small);

    .thumb {
      width: var(--switch-thumb-size-extra-small);
      height: var(--switch-thumb-size-extra-small);
      left: var(--wb-public-switch-thumb-padding-extra-small);
    }

    &[data-checked] {
      .thumb {
        transform: translateX(
          calc(
            var(--wb-public-switch-width-extra-small) - var(--switch-thumb-size-extra-small) - 2 *
              var(--wb-public-switch-thumb-padding-extra-small) - var(--wb-public-switch-border-size)
          )
        );
      }
    }
  }
}
