:root {
  --wb-public-tooltip-default-background: var(--wb-components-tooltip-bg-default);
  --wb-public-tooltip-blue-background: var(--wb-components-tooltip-bg-info);
  --wb-public-tooltip-padding: var(--wb-space-100) var(--wb-space-150);
  --wb-public-tooltip-radius-size: var(--wb-radius-100);
  --wb-public-tooltip-text-color: var(--wb-ui-text-tooltip-default);
  --wb-public-tooltip-blue-text-color: var(--wb-ui-text-tooltip-accent-default);
}

@layer ui.component {
  .container {
    --tooltip-background: var(--wb-public-tooltip-default-background);
    --tooltip-text-color: var(--wb-public-tooltip-text-color);

    padding: var(--wb-public-tooltip-padding);
    border-radius: var(--wb-public-tooltip-radius-size);
    width: max-content;
    max-width: 33vw;
    z-index: 100;
    color: var(--tooltip-text-color);
    background-color: var(--tooltip-background);
  }

  .container[data-tooltip-type='blue'] {
    --tooltip-background: var(--wb-public-tooltip-blue-background);
    --tooltip-text-color: var(--wb-public-tooltip-blue-text-color);
  }

  .arrow {
    width: 0.625rem;
    height: var(--wb-size-50);
    background-color: var(--tooltip-background);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
