:root {
  --wb-public-status-right: var(--wb-space-150) /* missing token */;
  --wb-public-status-size: var(--wb-space-250) /* missing token */;
  --wb-public-status-icon-size: var(--wb-space-150) /* missing token */;
  --wb-public-status-invalid-color: var(--wb-colors-orange-100) /* missing token */;
  --wb-public-status-invalid-background-color: var(--wb-colors-orange-400) /* missing token */;
}

@layer ui.component {
  .status-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: var(--wb-public-status-right);
    top: 0;
    transform: translateY(-50%);
    height: var(--wb-public-status-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    svg {
      height: var(--wb-public-status-icon-size);
      aspect-ratio: 1 / 1;
      fill: currentColor;
    }

    &.status-container--invalid {
      color: var(--wb-public-status-invalid-color);
      background: var(--wb-public-status-invalid-background-color);
    }
  }
}
