:root {
  --ax-public-icon-label-button-padding-extra-large: var(--wb-space-150) var(--wb-space-150);
  --ax-public-icon-label-button-padding-large: var(--wb-space-137) var(--wb-space-150);
  --ax-public-icon-label-button-padding-medium: var(--wb-space-112) var(--wb-space-150);
  --ax-public-icon-label-button-padding-small: var(--wb-space-87) var(--wb-space-125);
  --ax-public-icon-label-button-padding-extra-small: var(--wb-space-75) var(--wb-space-100);
  --ax-public-icon-label-button-padding-xx-small: var(--wb-space-75) var(--wb-space-75);
  --ax-public-icon-label-button-padding-xxx-small: var(--wb-space-50) var(--wb-space-75);
}

@layer ui.component {
  .extra-large {
    padding: var(--ax-public-icon-label-button-padding-extra-large);
  }

  .large {
    padding: var(--ax-public-icon-label-button-padding-large);
  }

  .medium {
    padding: var(--ax-public-icon-label-button-padding-medium);
  }

  .small {
    padding: var(--ax-public-icon-label-button-padding-small);
  }

  .extra-small {
    padding: var(--ax-public-icon-label-button-padding-extra-small);
  }

  .xx-small {
    padding: var(--ax-public-icon-label-button-padding-xx-small);
  }

  .xxx-small {
    padding: var(--ax-public-icon-label-button-padding-xxx-small);
  }
}
