:root {
  --ax-public-icon-label-button-padding-xx-small: var(--wb-space-75) var(--wb-space-75);
  --ax-public-icon-label-button-padding-xxx-small: var(--wb-space-50) var(--wb-space-75);
}

@layer ui.component {
  .xx-small {
    padding: var(--ax-public-icon-label-button-padding-xx-small);
  }

  .xxx-small {
    padding: var(--ax-public-icon-label-button-padding-xxx-small);
  }
}
