@layer ui.base {
  :root {
    --wb-public-form-rich-text-color: var(--wb-ui-text-subtle-default);
  }
}

.container {
  composes: ax-public-p11 from global;
  color: var(--wb-public-form-rich-text-color);

  a {
    color: inherit;
  }
}
