:root {
  --wb-sdk-conditions-form-border-color: var(--wb-ds-ui-stroke-default); /* missing token */
  --wb-sdk-conditions-form-border-radius: 0.75rem; /* missing token */
  --wb-sdk-conditions-form-header-color: var(--wb-public-form-label-color);
}

.container {
  padding: 0.5rem;
  border: 1px solid var(--wb-sdk-conditions-form-border-color);
  border-radius: var(--wb-sdk-conditions-form-border-radius);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: var(--wb-sdk-conditions-form-header-color);
}

.title {
  line-height: 1;
}

.tag {
  margin-top: 0.25rem;
}
