.actions {
  display: flex;
  flex-direction: column;
  gap: var(--wb-ds-space-100);
}

.row {
  display: flex;
  gap: var(--wb-ds-space-100);
  align-items: center;
  min-height: 2.25rem;
}

.label {
  composes: wb-text-body-s from global;

  flex: 1;
  min-width: 0;
  color: var(--wb-ds-ui-text-default);
}

.note {
  composes: wb-text-label-s from global;

  color: var(--wb-ds-ui-text-muted-default);
  white-space: nowrap;
}

.static {
  composes: wb-text-body-s from global;

  color: var(--wb-ds-ui-text-muted-default);
  white-space: nowrap;
}
