:root {
  --ax-public-button-icon-padding-xx-small: var(--wb-space-75);
  --ax-public-button-icon-padding-xxx-small: var(--wb-space-50);
}

@layer ui.component {
  .xx-small {
    padding: var(--ax-public-button-icon-padding-xx-small);
  }

  .xxx-small {
    padding: var(--ax-public-button-icon-padding-xxx-small);
  }
}
