:root {
  --ax-public-button-nav-color-hover: var(--wb-components-nav-button-icon-primary-hover);
}

@layer ui.component {
  button:hover {
    &.transparent {
      background: transparent;
    }
  }
}
