:root {
  --wb-edge-label-color: var(--ax-colors-gray-500);
  --wb-edge-label-color-hover: var(--ax-edge-primary-hover);
  --wb-edge-label-color-select: var(--ax-edge-primary-active);
  --wb-edge-label-background: var(--ax-colors-gray-200);
}
