.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  .text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
    }
  }
}
