:root {
  --ax-public-radio-size-medium: var(--wb-size-300);
  --ax-public-radio-size-small: var(--wb-size-200);
  --ax-public-radio-size-extra-small: var(--wb-size-150);

  --ax-public-radio-dot-size-medium: var(--wb-size-150);
  --ax-public-radio-dot-size-small: var(--wb-size-100);
  --ax-public-radio-dot-size-extra-small: var(--wb-size-50);
}

@layer ui.component {
  .medium {
    width: var(--ax-public-radio-size-medium);
    height: var(--ax-public-radio-size-medium);

    &::after {
      width: var(--ax-public-radio-dot-size-medium);
      height: var(--ax-public-radio-dot-size-medium);
    }
  }

  .small {
    width: var(--ax-public-radio-size-small);
    height: var(--ax-public-radio-size-small);

    &::after {
      width: var(--ax-public-radio-dot-size-small);
      height: var(--ax-public-radio-dot-size-small);
    }
  }

  .extra-small {
    width: var(--ax-public-radio-size-extra-small);
    height: var(--ax-public-radio-size-extra-small);

    &::after {
      width: var(--ax-public-radio-dot-size-extra-small);
      height: var(--ax-public-radio-dot-size-extra-small);
    }
  }
}
