:root {
  --ax-public-checkbox-size-medium: 1.25rem;
  --ax-public-checkbox-size-small: 1.125rem;
  --ax-public-checkbox-size-extra-small: var(--wb-size-200);

  --ax-public-checkbox-icon-size-medium: 0.875rem;
  --ax-public-checkbox-icon-size-small: var(--wb-size-150);
  --ax-public-checkbox-icon-size-extra-small: 0.625rem;

  --ax-public-checkbox-border-radius-medium: var(--wb-radius-50);
  --ax-public-checkbox-border-radius-small: var(--wb-radius-50);
  --ax-public-checkbox-border-radius-extra-small: var(--wb-radius-50);

  --ax-public-checkbox-border-width: var(--wb-size-12);

  --ax-public-checkbox-border-color: var(--wb-ui-stroke-subtle);
  --ax-public-checkbox-bg: var(--wb-ui-bg-base);
  --ax-public-checkbox-icon-color: var(--wb-ui-text-onaccent-default);

  --ax-public-checkbox-checked-bg: var(--wb-components-selector-fill-checked);

  --ax-public-checkbox-focus-border-color: var(--wb-ui-stroke-subtle);
  --ax-public-checkbox-focus-border-shadow: var(--wb-shadow-ui-focus);

  --ax-public-checkbox-disabled-bg: var(--wb-ui-bg-inset);
  --ax-public-checkbox-disabled-border-color: var(--wb-ui-stroke-subtle);
  --ax-public-checkbox-disabled-icon-color: var(--wb-ui-icon-disabled);
}

@layer ui.component {
  .container {
    position: relative;
    display: inline-flex;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: var(--ax-public-checkbox-icon-color);
    line-height: 0;

    &.medium {
      svg {
        width: var(--ax-public-checkbox-icon-size-medium);
        height: var(--ax-public-checkbox-icon-size-medium);
      }
    }

    &.small {
      svg {
        width: var(--ax-public-checkbox-icon-size-small);
        height: var(--ax-public-checkbox-icon-size-small);
      }
    }

    &.extra-small {
      svg {
        width: var(--ax-public-checkbox-icon-size-extra-small);
        height: var(--ax-public-checkbox-icon-size-extra-small);
      }
    }
  }

  .checkbox {
    appearance: none;
    display: inline-block;
    position: relative;
    margin: 0;
    border: var(--ax-public-checkbox-border-width) solid var(--ax-public-checkbox-border-color);
    background-color: var(--ax-public-checkbox-bg);
    cursor: pointer;
    vertical-align: middle;
    transition: all var(--ax-public-transition);

    &:checked,
    &:indeterminate {
      background-color: var(--ax-public-checkbox-checked-bg);
      border-color: transparent;
    }

    &:checked ~ .icon,
    &:indeterminate ~ .icon {
      display: block;
    }

    &:disabled:checked,
    &:disabled:indeterminate {
      background-color: var(--ax-public-checkbox-disabled-bg);
      border-color: var(--ax-public-checkbox-disabled-border-color);
    }

    &:disabled ~ .icon {
      color: var(--ax-public-checkbox-disabled-icon-color);
    }

    &:disabled {
      cursor: auto;
      background-color: var(--ax-public-checkbox-disabled-bg);
      border-color: var(--ax-public-checkbox-disabled-border-color);
    }

    &:focus-visible {
      box-shadow: var(--wb-shadow-ui-focus-element-x) var(--wb-shadow-ui-focus-element-y)
        var(--wb-shadow-ui-focus-element-blur) var(--wb-shadow-ui-focus-element-spread)
        var(--ax-public-checkbox-focus-border-shadow);
      border-color: var(--ax-public-checkbox-border-color);
      outline: none;
    }

    &.medium {
      width: var(--ax-public-checkbox-size-medium);
      height: var(--ax-public-checkbox-size-medium);
      border-radius: var(--ax-public-checkbox-border-radius-medium);
    }

    &.small {
      width: var(--ax-public-checkbox-size-small);
      height: var(--ax-public-checkbox-size-small);
      border-radius: var(--ax-public-checkbox-border-radius-small);
    }

    &.extra-small {
      width: var(--ax-public-checkbox-size-extra-small);
      height: var(--ax-public-checkbox-size-extra-small);
      border-radius: var(--ax-public-checkbox-border-radius-extra-small);
    }
  }
}
