:root {
  --wb-public-button-border-radius-xl: var(--wb-radius-100);
  --wb-public-button-border-radius-l: var(--wb-radius-100);
  --wb-public-button-border-radius-m: var(--wb-radius-75);
  --wb-public-button-border-radius-s: var(--wb-radius-50);
  --wb-public-button-border-radius-xs: var(--wb-radius-50);
  --wb-public-button-border-radius-round: var(--wb-radius-full);
}

@layer ui.component {
  .xl {
    border-radius: var(--wb-public-button-border-radius-xl);
  }

  .l {
    border-radius: var(--wb-public-button-border-radius-l);
  }

  .m {
    border-radius: var(--wb-public-button-border-radius-m);
  }

  .s {
    border-radius: var(--wb-public-button-border-radius-s);
  }

  .xs {
    border-radius: var(--wb-public-button-border-radius-xs);
  }

  .round {
    border-radius: var(--wb-public-button-border-radius-round);
  }
}
