:root {
  --ax-public-button-gap-extra-large: var(--wb-space-100);
  --ax-public-button-gap-large: var(--wb-space-100);
  --ax-public-button-gap-medium: var(--wb-space-100);
  --ax-public-button-gap-small: var(--wb-space-100);
  --ax-public-button-gap-extra-small: var(--wb-space-100);
}

@layer ui.component {
  .extra-large {
    gap: var(--ax-public-button-gap-extra-large);
  }

  .large {
    gap: var(--ax-public-button-gap-large);
  }

  .medium {
    gap: var(--ax-public-button-gap-medium);
  }

  .small {
    gap: var(--ax-public-button-gap-small);
  }

  .extra-small {
    gap: var(--ax-public-button-gap-extra-small);
  }
}
