:root {
  --ax-public-icon-size-extra-large: 1.5rem /* missing token */;
  --ax-public-icon-size-large: 1.25rem /* missing token */;
  --ax-public-icon-size-medium: 1.125rem /* missing token */;
  --ax-public-icon-size-small: 1.125rem /* missing token */;
  --ax-public-icon-size-extra-small: 1rem /* missing token */;
  --ax-public-icon-size-xl: var(--wb-size-300);
  --ax-public-icon-size-l: calc(var(--wb-size-300) - var(--wb-space-50));
  --ax-public-icon-size-m: calc(var(--wb-size-300) - var(--wb-space-75));
  --ax-public-icon-size-s: calc(var(--wb-size-300) - var(--wb-space-75));
  --ax-public-icon-size-xs: var(--wb-size-200);
}

@layer ui.component {
  .extra-large {
    svg {
      width: var(--ax-public-icon-size-extra-large);
      height: var(--ax-public-icon-size-extra-large);
    }
  }

  .large {
    svg {
      width: var(--ax-public-icon-size-large);
      height: var(--ax-public-icon-size-large);
    }
  }

  .medium {
    svg {
      width: var(--ax-public-icon-size-medium);
      height: var(--ax-public-icon-size-medium);
    }
  }

  .small {
    svg {
      width: var(--ax-public-icon-size-small);
      height: var(--ax-public-icon-size-small);
    }
  }

  .extra-small {
    svg {
      width: var(--ax-public-icon-size-extra-small);
      height: var(--ax-public-icon-size-extra-small);
    }
  }

  .icon {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .xl > .icon {
    width: var(--ax-public-icon-size-xl);
    height: var(--ax-public-icon-size-xl);
  }

  .l > .icon {
    width: var(--ax-public-icon-size-l);
    height: var(--ax-public-icon-size-l);
  }

  .m > .icon {
    width: var(--ax-public-icon-size-m);
    height: var(--ax-public-icon-size-m);
  }

  .s > .icon {
    width: var(--ax-public-icon-size-s);
    height: var(--ax-public-icon-size-s);
  }

  .xs > .icon {
    width: var(--ax-public-icon-size-xs);
    height: var(--ax-public-icon-size-xs);
  }
}
