:root {
  --ax-public-button-icon-padding-extra-large: var(--wb-space-150);
  --ax-public-button-icon-padding-large: var(--wb-space-137);
  --ax-public-button-icon-padding-medium: var(--wb-space-112);
  --ax-public-button-icon-padding-small: var(--wb-space-87);
  --ax-public-button-icon-padding-extra-small: var(--wb-space-75);
}

@layer ui.component {
  .extra-large {
    padding: var(--ax-public-button-icon-padding-extra-large);
  }

  .large {
    padding: var(--ax-public-button-icon-padding-large);
  }

  .medium {
    padding: var(--ax-public-button-icon-padding-medium);
  }

  .small {
    padding: var(--ax-public-button-icon-padding-small);
  }

  .extra-small {
    padding: var(--ax-public-button-icon-padding-extra-small);
  }
}
