:root {
  --ax-public-label-button-padding-extra-large: var(--wb-space-200) var(--wb-space-200);
  --ax-public-label-button-padding-large: var(--wb-space-200) var(--wb-space-200);
  --ax-public-label-button-padding-medium: var(--wb-space-150) var(--wb-space-150);
  --ax-public-label-button-padding-small: var(--wb-space-125) var(--wb-space-125);
  --ax-public-label-button-padding-extra-small: var(--wb-space-100) var(--wb-space-100);
}

@layer ui.component {
  .extra-large,
  .large {
    padding: var(--ax-public-label-button-padding-extra-large);
  }

  .medium {
    padding: var(--ax-public-label-button-padding-medium);
  }

  .small {
    padding: var(--ax-public-label-button-padding-small);
  }

  .extra-small {
    padding: var(--ax-public-label-button-padding-extra-small);
  }
}
