:root {
  --wb-public-nav-button-background-color-default: var(--wb-ds-components-nav-button-bg-primary-default);
  --wb-public-nav-button-background-color-hover: var(--wb-ds-components-nav-button-bg-primary-hover);
  --wb-public-nav-button-background-color-pressed: var(--wb-ds-components-nav-button-bg-primary-pressed);
  --wb-public-nav-button-background-color-active: var(--wb-ds-components-nav-button-bg-primary-active);
  --wb-public-nav-button-background-color-focus: var(--wb-ds-components-nav-button-bg-primary-focus);
  --wb-public-nav-button-background-color-disabled: var(--wb-ds-components-nav-button-bg-primary-disabled);
  --wb-public-nav-button-color-default: var(--wb-ds-components-nav-button-icon-primary-default);
  --wb-public-nav-button-color-hover: var(--wb-ds-components-nav-button-icon-primary-hover);
  --wb-public-nav-button-color-pressed: var(--wb-ds-components-nav-button-icon-primary-pressed);
  --wb-public-nav-button-color-active: var(--wb-ds-components-nav-button-icon-primary-active);
  --wb-public-nav-button-color-disabled: var(--wb-ds-components-nav-button-icon-primary-disabled);
  --wb-public-nav-button-height-xl: var(--wb-ds-size-600);
  --wb-public-nav-button-height-l: calc(var(--wb-ds-size-500) + var(--wb-ds-size-25));
  --wb-public-nav-button-height-m: calc(var(--wb-ds-size-400) + var(--wb-ds-size-50));
  --wb-public-nav-button-height-s: var(--wb-ds-size-400);
  --wb-public-nav-button-height-xs: calc(var(--wb-ds-size-300) + var(--wb-ds-size-50));
  --wb-public-nav-button-height-xxs: var(--wb-ds-size-300);
  --wb-public-nav-button-height-xxxs: calc(var(--wb-ds-size-200) + var(--wb-ds-size-50));
  --wb-public-nav-button-padding-xl: var(--wb-ds-space-150);
  --wb-public-nav-button-padding-l: var(--wb-ds-space-137);
  --wb-public-nav-button-padding-m: var(--wb-ds-space-112);
  --wb-public-nav-button-padding-s: var(--wb-ds-space-87);
  --wb-public-nav-button-padding-xs: var(--wb-ds-space-75);
  --wb-public-nav-button-padding-xxs: var(--wb-ds-space-75);
  --wb-public-nav-button-padding-xxxs: var(--wb-ds-space-50);
  --wb-public-nav-button-label-padding-inline-xl: var(--wb-ds-space-150);
  --wb-public-nav-button-label-padding-inline-l: var(--wb-ds-space-150);
  --wb-public-nav-button-label-padding-inline-m: var(--wb-ds-space-112);
  --wb-public-nav-button-label-padding-inline-s: var(--wb-ds-space-87);
  --wb-public-nav-button-label-padding-inline-xs: var(--wb-ds-space-75);
  --wb-public-nav-button-label-padding-inline-xxs: var(--wb-ds-space-75);
  --wb-public-nav-button-label-padding-inline-xxxs: var(--wb-ds-space-50);
  --wb-public-nav-button-gap-xl: var(--wb-ds-space-100);
  --wb-public-nav-button-gap-l: var(--wb-ds-space-100);
  --wb-public-nav-button-gap-m: var(--wb-ds-space-100);
  --wb-public-nav-button-gap-s: var(--wb-ds-space-100);
  --wb-public-nav-button-gap-xs: var(--wb-ds-space-100);
  --wb-public-nav-button-gap-xxs: var(--wb-ds-space-75);
  --wb-public-nav-button-gap-xxxs: var(--wb-ds-space-75);
  --wb-public-nav-button-border-radius-xl: var(--wb-ds-radius-100);
  --wb-public-nav-button-border-radius-l: var(--wb-ds-radius-100);
  --wb-public-nav-button-border-radius-m: var(--wb-ds-radius-75);
  --wb-public-nav-button-border-radius-s: var(--wb-ds-radius-50);
  --wb-public-nav-button-border-radius-xs: var(--wb-ds-radius-50);
  --wb-public-nav-button-border-radius-xxs: var(--wb-ds-radius-50);
  --wb-public-nav-button-border-radius-xxxs: var(--wb-ds-radius-50);
  --wb-public-nav-button-border-radius-round: var(--wb-ds-radius-full);
  --wb-public-nav-button-icon-size-xl: var(--wb-ds-size-300);
  --wb-public-nav-button-icon-size-l: calc(var(--wb-ds-size-200) + var(--wb-ds-size-50));
  --wb-public-nav-button-icon-size-m: calc(var(--wb-ds-size-200) + var(--wb-ds-size-25));
  --wb-public-nav-button-icon-size-s: calc(var(--wb-ds-size-200) + var(--wb-ds-size-25));
  --wb-public-nav-button-icon-size-xs: var(--wb-ds-size-200);
  --wb-public-nav-button-icon-size-xxs: var(--wb-ds-size-150);
  --wb-public-nav-button-icon-size-xxxs: var(--wb-ds-size-150);
}

@layer ui.component {
  .nav-button {
    box-sizing: border-box;
    height: var(--nav-button-height);
    padding-block: var(--nav-button-padding);
    padding-inline: var(--nav-button-label-padding-inline);
    gap: var(--nav-button-gap);
    border-radius: var(--nav-button-border-radius);
    background-color: var(--nav-button-background-default);
    color: var(--wb-public-nav-button-color-default);

    &:not(:disabled):hover {
      background-color: var(--nav-button-background-hover);
      color: var(--wb-public-nav-button-color-hover);
    }

    &.selected:not(:disabled) {
      background-color: var(--nav-button-background-selected);
      color: var(--wb-public-nav-button-color-pressed);
    }

    &:not(.selected):not(:disabled):focus-visible {
      background-color: var(--nav-button-background-focus);
      color: var(--wb-public-nav-button-color-default);
    }

    &:not(:disabled):active {
      background-color: var(--nav-button-background-active);
      color: var(--wb-public-nav-button-color-active);
    }

    &:disabled {
      background-color: var(--nav-button-background-disabled);
      color: var(--wb-public-nav-button-color-disabled);
    }
  }

  .icon-only {
    width: var(--nav-button-height);
    padding: var(--nav-button-padding);
  }

  .icon {
    composes: icon from '../styles/icon-size.module.css';

    width: var(--nav-button-icon-size);
    height: var(--nav-button-icon-size);
  }

  .xl {
    --nav-button-height: var(--wb-public-nav-button-height-xl);
    --nav-button-padding: var(--wb-public-nav-button-padding-xl);
    --nav-button-label-padding-inline: var(--wb-public-nav-button-label-padding-inline-xl);
    --nav-button-gap: var(--wb-public-nav-button-gap-xl);
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-xl);
    --nav-button-icon-size: var(--wb-public-nav-button-icon-size-xl);

    composes: wb-text-label-xl from global;
  }

  .l {
    --nav-button-height: var(--wb-public-nav-button-height-l);
    --nav-button-padding: var(--wb-public-nav-button-padding-l);
    --nav-button-label-padding-inline: var(--wb-public-nav-button-label-padding-inline-l);
    --nav-button-gap: var(--wb-public-nav-button-gap-l);
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-l);
    --nav-button-icon-size: var(--wb-public-nav-button-icon-size-l);

    composes: wb-text-label-l from global;
  }

  .m {
    --nav-button-height: var(--wb-public-nav-button-height-m);
    --nav-button-padding: var(--wb-public-nav-button-padding-m);
    --nav-button-label-padding-inline: var(--wb-public-nav-button-label-padding-inline-m);
    --nav-button-gap: var(--wb-public-nav-button-gap-m);
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-m);
    --nav-button-icon-size: var(--wb-public-nav-button-icon-size-m);

    composes: wb-text-label-m from global;
  }

  .s {
    --nav-button-height: var(--wb-public-nav-button-height-s);
    --nav-button-padding: var(--wb-public-nav-button-padding-s);
    --nav-button-label-padding-inline: var(--wb-public-nav-button-label-padding-inline-s);
    --nav-button-gap: var(--wb-public-nav-button-gap-s);
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-s);
    --nav-button-icon-size: var(--wb-public-nav-button-icon-size-s);

    composes: wb-text-label-m from global;
  }

  .xs {
    --nav-button-height: var(--wb-public-nav-button-height-xs);
    --nav-button-padding: var(--wb-public-nav-button-padding-xs);
    --nav-button-label-padding-inline: var(--wb-public-nav-button-label-padding-inline-xs);
    --nav-button-gap: var(--wb-public-nav-button-gap-xs);
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-xs);
    --nav-button-icon-size: var(--wb-public-nav-button-icon-size-xs);

    composes: wb-text-label-m from global;
  }

  .xxs {
    --nav-button-height: var(--wb-public-nav-button-height-xxs);
    --nav-button-padding: var(--wb-public-nav-button-padding-xxs);
    --nav-button-label-padding-inline: var(--wb-public-nav-button-label-padding-inline-xxs);
    --nav-button-gap: var(--wb-public-nav-button-gap-xxs);
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-xxs);
    --nav-button-icon-size: var(--wb-public-nav-button-icon-size-xxs);

    composes: wb-text-label-m from global;
  }

  .xxxs {
    --nav-button-height: var(--wb-public-nav-button-height-xxxs);
    --nav-button-padding: var(--wb-public-nav-button-padding-xxxs);
    --nav-button-label-padding-inline: var(--wb-public-nav-button-label-padding-inline-xxxs);
    --nav-button-gap: var(--wb-public-nav-button-gap-xxxs);
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-xxxs);
    --nav-button-icon-size: var(--wb-public-nav-button-icon-size-xxxs);

    composes: wb-text-label-m from global;
  }

  .round {
    --nav-button-border-radius: var(--wb-public-nav-button-border-radius-round);
  }

  .square,
  .round {
    --nav-button-background-default: var(--wb-public-nav-button-background-color-default);
    --nav-button-background-hover: var(--wb-public-nav-button-background-color-hover);
    --nav-button-background-selected: var(--wb-public-nav-button-background-color-pressed);
    --nav-button-background-focus: var(--wb-public-nav-button-background-color-focus);
    --nav-button-background-active: var(--wb-public-nav-button-background-color-active);
    --nav-button-background-disabled: var(--wb-public-nav-button-background-color-disabled);
  }

  .plain {
    --nav-button-background-default: var(--wb-ds-colors-transparent);
    --nav-button-background-hover: var(--wb-ds-colors-transparent);
    --nav-button-background-selected: var(--wb-ds-colors-transparent);
    --nav-button-background-focus: var(--wb-ds-colors-transparent);
    --nav-button-background-active: var(--wb-ds-colors-transparent);
    --nav-button-background-disabled: var(--wb-ds-colors-transparent);
  }
}
