@layer ui.component {
  .input {
    min-width: 0;
    width: 100%;
    flex: 1;
    border: none;
    background: transparent;
    padding: 0;
    color: var(--ax-public-input-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus-visible {
      outline: none;
    }

    &:disabled {
      color: var(--ax-public-input-color-disabled);
      cursor: not-allowed;
    }

    &::placeholder {
      color: var(--ax-public-input-placeholder-color);
      opacity: 1;
    }
  }
}
