.icon {
  background: linear-gradient(158deg, #5360f9 8.25%, #852bec 91.09%), #151516;

  & svg path {
    stroke: white;
  }
}

.root {
  --wb-public-node-gap: 0;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .collapsible-content {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .selected-model-icon {
    background-color: var(--wb-ui-text-default);
    color: var(--wb-ui-text-inverse-default);
    outline: none;
  }

  .selected-memory-icon {
    color: var(--wb-ui-text-onaccent-default);
    background-color: var(--wb-components-button-solid-gray-default);
    outline: none;
  }
}
