:root {
  --wb-public-edge-label-gap: var(--wb-ds-canvas-edge-label-gap);
  --wb-public-edge-background-color: var(--wb-ds-ui-bg-inset);
  --wb-public-edge-label-color: var(--wb-ds-ui-text-default);

  --wb-public-edge-label-border-size: var(--wb-ds-canvas-edge-stroke-regular);
  --wb-public-edge-label-border-size-selected: var(--wb-ds-canvas-edge-stroke-bold);

  --wb-public-edge-label-border-style: solid;
  --wb-public-edge-label-border-color: var(--wb-ds-canvas-edge-stroke-default);
  --wb-public-edge-label-border-color-selected: var(--wb-ds-canvas-edge-stroke-active);
  --wb-public-edge-label-border-color-hover: var(--wb-ds-canvas-edge-stroke-hover);

  --wb-public-edge-label-color-disabled: var(--wb-ds-ui-text-ghost-default);
  --wb-public-edge-label-border-color-disabled: var(--wb-ds-canvas-edge-stroke-disabled);
}

@layer ui.component {
  .container {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--wb-public-edge-label-gap);

    pointer-events: auto;

    width: max-content;

    background-color: var(--wb-public-edge-background-color);
    color: var(--wb-public-edge-label-color);

    border: var(--wb-public-edge-label-border-size) var(--wb-public-edge-label-border-style)
      var(--wb-public-edge-label-border-color);

    transition: border var(--wb-public-transition);

    &:hover,
    &.hovered,
    &.selected,
    &.disabled {
      transition: none;
    }

    &.hovered:not(.selected, .disabled, .temporary),
    &:hover:not(.selected, .disabled, .temporary) {
      border-color: var(--wb-public-edge-label-border-color-hover);
    }

    &.temporary,
    &.selected {
      border-width: var(--wb-public-edge-label-border-size-selected);
      border-color: var(--wb-public-edge-label-border-color-selected);
    }

    &.disabled {
      color: var(--wb-public-edge-label-color-disabled);
      border-color: var(--wb-public-edge-label-border-color-disabled);
    }
  }
}
