:root {
  --wb-message-control-error-color: var(--wb-public-snackbar-title-color);
  --wb-message-control-error-background-color: var(--wb-public-snackbar-error-background);
  --wb-message-control-spacing: var(--wb-space-100);
  --wb-message-control-border-radius: var(--wb-radius-100);
  --wb-message-control-padding: var(--wb-space-100) var(--wb-space-200);
}

.container {
  display: flex;
  gap: var(--wb-message-control-spacing);
  border-radius: var(--wb-message-control-border-radius);
  padding: var(--wb-message-control-padding);
  color: var(--color);
  background: var(--background-color);

  svg {
    flex-shrink: 0;
  }
}

.container--neutral {
  --color: var(--wb-ui-text-default);
  --background-color: var(--wb-ui-bg-elevated);
}

.container--warning {
  --color: var(--wb-colors-acc5-700);
  --background-color: var(--wb-colors-acc5-500-10);
}

html[data-theme='dark'] .container--warning {
  --color: var(--wb-colors-acc5-200);
}

.container--error {
  --color: var(--wb-message-control-error-color);
  --background-color: var(--wb-message-control-error-background-color);
}

.content {
  composes: ax-public-p11 from global;

  padding-top: 1px;
}
