:root {
  --wb-sdk-branches-container-gap: var(--wb-ds-canvas-node-body-gap);
}

.branches-container {
  display: flex;
  justify-content: center;
  gap: var(--wb-sdk-branches-container-gap);

  &.vertical {
    flex-direction: column;
  }
}
