:root {
  --ax-public-button-background-color-disabled: var(--ax-button-primary-bg-disabled);
  --ax-public-button-focus-visible-box-shadow-color: var(--ax-txt-primary-default);
  --ax-public-button-inner-border-color: var(--ax-ui-bg-primary-default);
  --ax-public-button-color: var(--ax-txt-primary-white);
}

@layer ui.base {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--ax-public-button-color);
    border: unset;
    cursor: pointer;

    &:focus-visible {
      box-shadow:
        0px 0px 0px 2px var(--ax-public-button-focus-visible-box-shadow-color),
        inset 0 0 0 1px var(--ax-public-button-inner-border-color);
      outline: none;
    }

    &:not(:hover) {
      transition: all var(--ax-public-transition);
    }

    &:disabled {
      background-color: var(--ax-public-button-background-color-disabled);
      cursor: auto;
    }
  }
}
