:root {
  --wb-public-button-background-color-disabled: var(--wb-components-button-solid-disabled);
  --wb-public-button-focus-visible-box-shadow-color: var(--wb-ui-text-default);
  --wb-public-button-inner-border-color: var(--wb-ui-bg-base);
  --wb-public-button-color: var(--wb-ui-text-onaccent-default);
}

@layer ui.base {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--wb-public-button-color);
    border: unset;
    cursor: pointer;

    &:focus-visible {
      box-shadow:
        0px 0px 0px 2px var(--wb-public-button-focus-visible-box-shadow-color),
        inset 0 0 0 1px var(--wb-public-button-inner-border-color);
      outline: none;
    }

    &:not(:hover) {
      transition: all var(--wb-public-transition);
    }

    &:disabled {
      background-color: var(--wb-public-button-background-color-disabled);
      cursor: auto;
    }
  }
}
