@layer ui.component {
  .field {
    display: flex;
    min-width: 0;
    width: 100%;
    flex-direction: column;
    gap: var(--wb-space-75);
  }

  .label,
  .helper {
    display: flex;
    height: var(--wb-size-200);
    align-items: center;
    font-size: var(--wb-font-size-150);
    font-weight: 400;
    line-height: var(--wb-size-200);
  }

  .label {
    color: var(--wb-ui-text-default);
  }

  .required {
    color: var(--wb-components-text-field-stroke-critical);
  }

  .helper {
    color: var(--wb-ui-text-subtle-default);
  }

  .field[data-state='critical'] .helper {
    color: var(--wb-components-text-field-stroke-critical);
  }
}
