:root {
  --wb-sdk-sidebar-vertical-padding: 0.75rem;
  --wb-sdk-sidebar-horizontal-padding: 1rem;
  --wb-sdk-sidebar-background: var(--wb-ds-ui-bg-base);
  --wb-sdk-sidebar-text-color: var(--wb-ds-ui-text-default);
  --wb-sdk-sidebar-border-color: var(--wb-ds-ui-stroke-default);
  --wb-sdk-sidebar-border-radius: 0.75rem;
  --wb-sdk-sidebar-content-gap: 1.25rem;

  --wb-sdk-sidebar-expanded-width: 20rem;
}
